table {
  @apply border-spacing-0 text-center;
  border-collapse: separate !important;
}

thead {
  @apply mb-3;
}

tbody:before {
  line-height: 2em;
  content: "\200C";
  display: block;
}

th {
  @apply font-semibold;
}

thead tr th {
  @apply border-2 border-solid border-primary box-border border-opacity-50;
}

td {
  @apply border-solid border-primary box-border border-opacity-50;
}

thead tr th:not(:first-child):not(:last-child) {
  @apply border-r-0 border-l-0;
}

thead tr th:first-child {
  @apply rounded-l-md border-r-0;
}

thead tr th:last-child {
  @apply rounded-r-md border-l-0;
}

tr:first-child td:first-child {
  @apply rounded-tl-md border-r-0;
}

tr:first-child td:last-child {
  @apply rounded-tr-md border-l-0;
}

tr:last-child td:first-child {
  @apply rounded-bl-md border-r-0;
}

tr:last-child td:last-child {
  @apply rounded-br-md border-l-0;
}

tr:first-child td {
  @apply border-t-2;
}

tr:last-child td {
  @apply border-b-2;
}

td:first-child {
  @apply border-l-2;
}

td:last-child {
  @apply border-r-2;
}

th,
td {
  @apply px-6 py-2 box-border;
}

.request-table {
  border: none;
}